.word {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: black;
}

.cbox {
    justify-content: center;
}

.outline {
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 0.5px solid red;
    border-bottom: 0.5px solid red;
}

.dbox {
    justify-content: center;
}
